/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: rgb(96, 190, 228);
  background: linear-gradient(
    180deg,
    rgba(96, 190, 228, 1) 0%,
    rgba(17, 115, 164, 1) 100%
  );
}
.heroRobot {
  width: 870px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
}

.title {
  font-size: 3rem;
  margin-bottom: 60px;
}

.description {
  font-size: 1.5rem;
  line-height: 0.8rem;
  font-style: italic;
  color: #fff;
}
.heroButton {
  color: #fff;
  background: var(--ifm-navbar-background-color);
  border-radius: 25px;
  padding: 0.7rem 2.5rem 0.7rem 2.5rem;
  margin-top: -1.5rem;
  font-size: 1rem;
}
.heroButton:hover {
  background: #3e99c5;
}
.descriptionMobile {
  display: none;
}

/** Tablet view */
@media screen and (max-width: 1290px) {
}

/** Mobile view */
@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .description {
    display: none;
  }
  .descriptionMobile {
    font-size: 1.3rem;
    font-style: italic;
    line-height: 1.8rem;
    margin-bottom: 0;
    display: block;
  }
}
