.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
.title {
  font-size: 2.3rem;
  text-align: center;
}
.subTitle {
  font-size: 1.5rem;
  text-align: left;
}
.description {
  font-size: 1rem;
  text-align: center;
  margin-top: 3rem;
}
.withExtraMargin {
  margin-top: 60px;
}
