.features {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
  background-color: #60bee4;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
.title {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2rem;
  color: #fff;
}
.subTitle {
  font-size: 1.5rem;
  text-align: left;
}
.description {
  font-size: 1rem;
  text-align: center;
  margin-top: 3rem;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
}
.heroButton {
  color: #fff;
  background: var(--ifm-navbar-background-color);
  border-radius: 25px;
  padding: 0.7rem 2.5rem 0.7rem 2.5rem;
  margin-top: -1.5rem;
  font-size: 1rem;
}
.heroButton:hover {
  background: #3e99c5;
}

/* .withExtraMargin*/
/* .testimonialWrapper {
  margin-top: 60px;
} */

/* .withExtraMargin a */
/* .testimonialWrapper a {
  color: var(--ifm-hero-text-color);
  display: flex;
  flex-direction: row;
  row-gap: 50px;
} */

.testimonialAnchor {
  background-color: #fff;
  padding: 1.6rem;
  color: #1c1e21; /*var(--ifm-font-color-base); */
  border-radius: 5px;
  margin-left: 1rem;
  margin-top: 1rem;
  display: block;
}

.testimonialAnchor:hover {
  text-decoration: none;
  color: #1c1e21;
}

.testimonialWrapper {
  padding: 0px 0px 3rem 0px;
  /* margin-top: 10px; */
}

.testimonialDescription {
  font-size: 1rem;
}

.testimonialHeader {
  display: flex;
  justify-content: space-between;
  height: 45px;
  margin-bottom: 30px;
}
.testimonialUserInfo {
  display: flex;
}

.testimonialUserInfo h6,
.testimonialUserInfo p {
  margin-bottom: 0px;
  margin-left: 10px;
}

.testimonialProfilePic {
  width: 45px;
  height: auto;
  border-radius: 50%;
}

.testimonialSourceIcon {
  width: 20px;
  height: auto;
}

/** Mobile view */
@media screen and (max-width: 996px) {
  .testimonialAnchor {
    margin: 2rem 1rem 0.5rem 1rem;
  }
  .testimonialWrapper {
    padding: 0 var(--ifm-spacing-horizontal);
  }
  .title {
    font-size: 2rem;
  }
}
