.features {
  display: flex;
  align-items: center;
  padding: 4rem 0 0 0;
  width: 100%;
  background-color: #60bee4;
  border-bottom: 1px solid #8bcae5;
}

.features p {
  text-align: left;
  font-size: 1rem;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
.title {
  font-size: 3rem;
  text-align: center;
  color: #fff;
}
.subTitle {
  font-size: 1.5rem;
  text-align: left;
  color: #fff;
}

.rowWitExtraMargin {
  margin-top: 80px;
}
.link {
  color: #fff;
  text-decoration: underline;
  transition: color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}
.link:hover {
  color: var(--ifm-hero-text-color);
}

.wrapper {
  position: relative;
}

.verticalAndHorizontalCenter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.childrenWithExtraPadding {
  margin: 4rem 0px;
  /* padding: 0px 30px; */
  font-size: 1.2rem;
  color: #fff;
}
/** Mobile view */
@media screen and (max-width: 996px) {
  .title {
    font-size: 2rem;
  }
}
