/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@font-face {
  font-family: "Panton-SemiBold";
  src: url("/static/font/Panton-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Rubik-Medium";
  src: url("/static/font/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono-Regular";
  src: url("/static/font/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("/static/font/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/static/font/Roboto-Regular.ttf") format("truetype");
}

:root {
  font-family: "Roboto-Regular";
  --ifm-font-family-monospace: "RobotoMono-Regular";
  --ifm-font-family-base: "Roboto-Regular";
  --ifm-heading-font-family: "Rubik-Medium";
  --ifm-color-primary: #56b7e1; /*#2e8555; */
  --ifm-color-primary-dark: #3cacdc;
  --ifm-color-primary-darker: #2ea6da;
  --ifm-color-primary-darkest: #218bb9;
  --ifm-color-primary-light: #70c2e6;
  --ifm-color-primary-lighter: #7ec8e8;
  --ifm-color-primary-lightest: #a5d9ef;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-navbar-background-color: #003257;
  --ifm-dropdown-background-color: #003257;
  --ifm-navbar-height: 4.69rem;
  --ifm-font-color-base: #fff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #56b7e1;
  --ifm-color-primary-dark: #3cacdc;
  --ifm-color-primary-darker: #2ea6da;
  --ifm-color-primary-darkest: #218bb9;
  --ifm-color-primary-light: #70c2e6;
  --ifm-color-primary-lighter: #7ec8e8;
  --ifm-color-primary-lightest: #a5d9ef;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* default settings for both tablet and desktop */
.navbar--fixed-top {
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar__title {
  color: #fff;
  font-size: 3.4rem;
  position: absolute;
  margin-top: 0.3rem;
  margin-left: 2.4rem;
  font-family: var(--ifm-heading-font-family);
  font-weight: 100;
  line-height: var(--ifm-heading-line-height);
  cursor: text;
  user-select: text;
}

.navbar__brand:hover {
  color: var(--ifm-navbar-link-color);
}

.navbar__items.navbar__items--right .navbar__link {
  color: #fff;
}

.navbar__items.navbar__items--right
  .navbar__item.dropdown
  .dropdown__link:hover {
  color: var(--ifm-link-hover-color);
}
.navbar__items.navbar__items--right .navbar__item.dropdown,
.navbar__items.navbar__items--right .navbar__item.navbar__link {
  border-right: 1px solid #214c6c;
  padding: 23px 18px;
}
.navbar__items.navbar__items--right
  .navbar__item.navbar__link.header-discord-link {
  border-right: none;
}
.navbar__items.navbar__items--right .navbar__item.dropdown {
  border-left: 1px solid #214c6c;
}

.dropdown > .navbar__link:after {
  margin-left: 0.5em;
  top: 1px;
  font-size: 0.8rem;
}

.navbar__logo {
  width: 2.156rem;
  height: auto;
  margin-top: 1.2rem;
}

.navbar__brand {
  margin-left: 9.6rem;
}

.navbar__link {
  font-size: 1.1rem;
}

.navbar.navbar--fixed-top .navbar__items--right {
  flex: 1;
  justify-content: center;
  /* margin-left: 500px; */
}

.header-discord-link:before,
.footer-discord-link:before {
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
  background-color: #8c9fae;
  -webkit-mask-image: url("/img/icon-discord.svg");
  mask-image: url("/img/icon-discord.svg");
}

.header-discord-link:hover,
.footer-discord-link:hover {
  opacity: 0.6;
}

.footer-github-link:before {
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
  background-color: #8c9fae;
  -webkit-mask-image: url("/img/icon-github.svg");
  mask-image: url("/img/icon-github.svg");
}

.footer-github-link:hover {
  opacity: 0.6;
}

.footer-facebook-link:hover {
  opacity: 0.6;
}

.footer-facebook-link:before {
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
  background-color: #8c9fae;
  -webkit-mask-image: url("/img/icon-facebook.svg");
  mask-image: url("/img/icon-facebook.svg");
}

.footer-twitter-link:hover {
  opacity: 0.6;
}

.footer-twitter-link:before {
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
  background-color: #8c9fae;
  -webkit-mask-image: url("/img/icon-twitter.svg");
  mask-image: url("/img/icon-twitter.svg");
}

.footer-linkedin-link:hover {
  opacity: 0.6;
}

.footer-linkedin-link:before {
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
  background-color: #8c9fae;
  -webkit-mask-image: url("/img/icon-linkedin.svg");
  mask-image: url("/img/icon-linkedin.svg");
}

.github-stars {
  display: flex;
  height: 40px;
  width: 150px;
  margin-left: 12px;
}

h3.anchor > code {
  font-size: 1rem;
}

.footer.footer--dark {
  background-color: #003257;
  /* height: 18.75rem; */
}
.footer.footer--dark .container.container-fluid .footer__bottom {
  position: absolute;
  padding: 2rem;
  width: 100%;
  background-color: #003a60;
  left: 0;
}
.footer.footer--dark .footer__copyright {
  opacity: 0.5;
  font-size: 0.85rem;
  letter-spacing: 0.025rem;
}
.footer.footer--dark .footer__col {
  margin: 2.3rem auto 5rem;
  height: 10rem;
  border-left: 2px solid rgb(33, 76, 108);
  padding-left: 1.5rem;
}
.footer.footer--dark .footer__col .footer__title {
  letter-spacing: 0.025rem;
  font-size: 0.9rem;
}
.footer.footer--dark .footer__col:first-child .footer__item {
  display: inline-block;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
}
.footer.footer--dark .footer__col:first-child .footer__item:first-child {
  padding-left: 0;
}
.footer.footer--dark .footer__col .footer__link-item {
  text-decoration: underline;
  font-size: 0.9rem;
}
.footer.footer--dark .footer__col .footer__link-item::after {
  content: "";
  display: flex;
  height: 35px;
  width: 42px;
  background-color: #8c9fae;
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgOTYgOTYwIDk2MCIgd2lkdGg9IjQ4Ij48cGF0aCBkPSJNNTQwIDc5M3EtOS05LTktMjEuNXQ4LTIwLjVsMTQ3LTE0N0gxOTBxLTEzIDAtMjEuNS04LjVUMTYwIDU3NHEwLTEzIDguNS0yMS41VDE5MCA1NDRoNDk2TDUzOCAzOTZxLTktOS04LjUtMjF0OS41LTIxcTktOCAyMS41LTh0MjAuNSA4bDE5OSAxOTlxNSA1IDcgMTB0MiAxMXEwIDYtMiAxMXQtNyAxMEw1ODIgNzkzcS05IDktMjEgOXQtMjEtOVoiLz48L3N2Zz4=);
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgOTYgOTYwIDk2MCIgd2lkdGg9IjQ4Ij48cGF0aCBkPSJNNTQwIDc5M3EtOS05LTktMjEuNXQ4LTIwLjVsMTQ3LTE0N0gxOTBxLTEzIDAtMjEuNS04LjVUMTYwIDU3NHEwLTEzIDguNS0yMS41VDE5MCA1NDRoNDk2TDUzOCAzOTZxLTktOS04LjUtMjF0OS41LTIxcTktOCAyMS41LTh0MjAuNSA4bDE5OSAxOTlxNSA1IDcgMTB0MiAxMXEwIDYtMiAxMXQtNyAxMEw1ODIgNzkzcS05IDktMjEgOXQtMjEtOVoiLz48L3N2Zz4=);
  display: inline-block;
  transform: scale(0.4);
  position: absolute;
  margin-left: -0.5rem;
  margin-top: -0.4rem;
}
.footer.footer--dark .footer__col:last-child .footer__link-item::after {
  display: none;
}
.footer.footer--dark .footer__col .footer__link-item > svg {
  display: none;
}

/**
* ----------------------------------------------
* FAQ accordion styles starts
* ----------------------------------------------
**/
.container .accordion {
  border: 1px solid rgba(139, 202, 229, 0.1);
  border-radius: 2px;
}

.accordion__item + .accordion__item {
  border-top: 1px solid rgba(139, 202, 229, 0.1);
}

.accordion__item .accordion__button {
  background-color: #076d9e;
  color: var(--ifm-font-color-base);
  cursor: pointer;
  padding: 2.5rem;
  width: 100%;
  text-align: left;
  border: 1px solid #8bcae5;
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

.accordion__item .accordion__button:hover {
  background-color: #60bee4;
}

.accordion__button:before {
  display: inline-block;
  content: "";
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}

.accordion__button[aria-expanded="true"]::before,
.accordion__button[aria-selected="true"]::before {
  transform: rotate(45deg);
}

[hidden] {
  display: none;
}

.accordion__item .accordion__panel {
  padding: 20px;
  animation: fadein 0.35s ease-in;
  /* font-size: 1rem; */
  /* border: 1px solid #8bcae5; */
  /* border-top: none; */
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/** Mobile view */
@media screen and (max-width: 996px) {
  .accordion__item .accordion__button {
    font-size: 1.1rem;
    padding: 1rem;
  }
  .footer.footer--dark .footer__col {
    margin: 1rem auto 1rem;
    height: auto;
    border: none;
  }
}

/**
* ----------------------------------------------
* FAQ accordion ends
* ----------------------------------------------
**/

/** Tablet view */
@media screen and (max-width: 1290px) {
  .navbar__items.navbar__items--right .navbar__item.dropdown,
  .navbar__items.navbar__items--right .navbar__item.navbar__link {
    padding: 23px 18px;
  }
}

/** Mobile view */
@media screen and (max-width: 996px) {
  .navbar__item.github-stars {
    display: none;
  }
  .navbar__brand {
    margin-left: 1rem;
  }
  .navbar__title {
    font-size: 3rem;
  }
  ul.menu__list li {
    margin-bottom: 10px;
  }
  .navbar__logo {
    margin-top: 1rem;
    width: 1.7rem;
  }
  .navbar__title {
    margin-top: 0;
    margin-left: 1.8rem;
  }
}
