.features {
  display: flex;
  align-items: center;
  padding: 5rem 0;
  width: 100%;
  background: rgb(82, 175, 216);
  background: linear-gradient(
    180deg,
    rgba(82, 175, 216, 1) 0%,
    rgba(96, 190, 228, 1) 100%
  );
  border-top: 1px solid #8bcae5;
  border-bottom: 1px solid #8bcae5;
}

.featureSvg {
  height: 160px;
  width: 160px;
  margin: 30px 0px;
}
.title {
  font-size: 3rem;
  text-align: center;
  color: #fff;
}
.fastkafkaDescription {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  margin-bottom: 5rem;
  color: #fff;
}
.subTitle {
  font-size: 1.5rem;
  text-align: left;
  color: #fff;
}
.description {
  font-size: 1rem;
  text-align: center;
  margin-top: 3rem;
  color: #fff;
}
.rowWitExtraMargin {
  margin-top: 80px;
}

.fastkafkaChatIframe {
  width: 100%;
  height: 600px;
  display: inline-block;
  position: relative;
}
.fastkafkaChatHeader {
  font-size: 1.8rem;
  text-align: center;
}

/** Mobile view */
@media screen and (max-width: 996px) {
  .title {
    font-size: 2rem;
  }
}

/* .slantedDiv {
  position: relative;
  padding: 200px 0;
  background: #fff;
  overflow: visible;
  z-index: 1;
}

.slantedDiv:before,
.slantedDiv:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  transform-origin: left top;
  transform: skewY(-2deg);
}

.slantedDiv:after {
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(3deg);
} */

/* displays the content inside, as these settings in the parent breaks the effect */
/* .slantedDiv div {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5;
} */
