.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.header {
  font-size: 4rem;
  text-align: center;
}

.description {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.containerWithMinHeight {
  min-height: 500px;
}