.features {
  display: flex;
  align-items: center;
  padding: 2rem 0 8rem 0;
  width: 100%;
  background-color: #076d9e;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
.title {
  font-size: 3rem;
  text-align: center;
  color: #fff;
}

.title + p {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  margin-bottom: 5rem;
  color: #fff;
}
.subTitle {
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}
.description {
  font-size: 1rem;
  text-align: center;
  margin-top: 3rem;
  color: #fff;
}
.rowWitExtraMargin {
  margin-top: 80px;
}
.link {
  color: var(--ifm-hero-text-color);
  text-decoration: underline;
  transition: color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.wrapper {
  position: relative;
}

.verticalAndHorizontalCenter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.href {
  text-decoration: underline;
}
.faqAnswer a {
  text-decoration: underline;
}

/** Mobile view */
@media screen and (max-width: 996px) {
  .title {
    font-size: 2rem;
  }
  .title + p {
    margin-bottom: 1rem;
  }
}
