name: Run linting, update API References and commit changes

on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - ready_for_review

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  check-linting-and-docs-changes:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.head_ref }}
      - uses: astral-sh/setup-uv@v5
        with:
          version: "latest"
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Set $PY environment variable
        run: echo "PY=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV
      - name: Install Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        shell: bash
        # should install with `-e`
        run: |
          set -ux
          uv pip install --system -e .[dev]

      - uses: pre-commit/action@v3.0.1
        continue-on-error: true
        with:
          extra_args: --hook-stage manual --all-files

      - name: Run build docs
        run: bash scripts/build-docs.sh

      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "docs: generate API References"
